<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div id="currentConditions">
        <p id="currentCity">CITY</p>
        <p id="currentTemperature">XX °C</p>
        <p id="currentCondition">CONDITION</p>
        <p id="currentMinMax">Between XX °C and XX °C</p>
    </div>

    <div id="hourlyForecast">
        <table>
            <tr>
               <td>0:00</td> <td>1:00</td> <td>2:00</td> <td>3:00</td> <td>4:00</td> <td>5:00</td> <td>6:00</td> <td>7:00</td> <td>8:00</td> <td>9:00</td> <td>10:00</td> <td>11:00</td> <td>12:00</td> <td>13:00</td> <td>14:00</td> <td>15:00</td> <td>16:00</td> <td>17:00</td> <td>18:00</td> <td>19:00</td> <td>20:00</td> <td>21:00</td> <td>22:00</td> <td>23:00</td>
            </tr>
            <tr>
               <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td> <td>ICON</td>
            </tr>
            <tr id="hourlyTemperatureRow">
                <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td> <td>XX °C</td>
            </tr>
         </table>
    </div>

    <img src="http://localhost:8080/image/getIcon?dayCycle=day&code=113" alt="alternatetext">

    <script src="home.js"></script>
</body>
</html>